/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Ubuntu&display=swap');

/* Element Selectors */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #46A67E url(https://assets.codepen.io/6060109/ZigZag.png) round;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #2F463D;
    margin-bottom: 10px;
}

button {
    width: 100%;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #46A67E;
    box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 15px 0;
    margin-bottom: 45px;
    transition: 0.3s ease all;
}

button:hover {
    opacity: 0.8;
    transition: 0.3s ease all;
    cursor: pointer;
}

/* Class Selectors */
.card {
    width: 90%;
    margin: 71px 0;
    width: 327px;
    height: 567px;
    background: #fff;
    box-shadow: 0px 40px 40px -20px #3C7B61;
    border-radius: 5px;
    position: relative;
}

.dish, .process {
    display: none;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 48px 35px 10px 35px;
}

.main-container > p {
    margin-top: 0;
    color: #828282;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 26px;
}

.order-container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #F0FFF5;
    border-radius: 5px;
    margin: 21px 0 30px 0;
}

.order-details{
    width: 50%;
    text-align: left;
    padding-left: 15px;
}

.order-details > p:first-of-type {
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #2F463D;
    margin: 0;
    padding-bottom: 4px;
}

.order-details > p:last-of-type {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #7A8FA5;
    margin: 0;
}

.order-container > a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #467A66;
}

.grey-button {
    background: #BDBDBD;
    box-shadow: 0px 20px 20px rgba(167, 167, 167, 0.2);
    color: #FFFFFF;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
}

.dots {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #E0E0E0;
}

.dot2 {
    background-color: #67BD99;
}

/* ID Selectors */
#confirmation {
    padding-bottom: 12px;
}

/* Media Queries */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* Element Selectors */
    
    h2 {
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        color: #2F463D;
    }

    /* Class Selectors */
    .card {
        width: 450px;
        height: 690px;
    }

    .dish, .process {
        display: block;
        height: 648px;
    }

    .dish {
        margin-right: -20px;
    }

    .confirmation {
        z-index: 2;
    }

    .process {
        margin-left: -20px;
    }

    .dish h2, .process h2{
        margin-bottom: 35px;
    }

    .confirmation h2{
        margin-bottom: 25px;
    }

    .main-container > p {
        color: #828282;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        line-height: 26px;
    }

    .dish .main-container > p, .process .main-container > p {
        margin-bottom: 80px;
    }

    .confirmation .main-container > p {
        margin-bottom: 9px;
    }

    .order-details{
        padding-left: 20px;
    }
    
    .order-details > p:first-of-type {
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        color: #2F463D;
        margin: 0;
        padding-bottom: 7px;
    }
    
    .order-details > p:last-of-type {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #7A8FA5;
        margin: 0;
    }
    
    .order-container > a {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        padding-left: 20px;
        color: #467A66;
    }

    .dish .dot1, .process .dot3 {
        background-color: #67BD99;
    }

    .dish .dot2, .process .dot2 {
        background-color: #E0E0E0;
    }

    /* ID Selectors */
    #choose {
        margin-bottom: 46.74px;
    }

    #confirmation {
        width: 150px;
        height: 150px;
    }

    #order-image {
        height: 90px;
    }

    #process {
        margin-bottom: 7px;
    }
}